.card{
    display: flex;
    flex-direction: column;
    flex-grow:unset;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.413);

    backdrop-filter: blur(3px);
    height: 350px;
    width: 350px;
    border-radius: 40px;
    align-content: space-around;
    justify-content: center;
    color: white;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.searchBox{
    all: unset;
    background-color: rgba(0, 0, 0, 0.413);
    border-radius: 20px;
    margin: 10px;
    text-align: start;
    font-size: 15px;
    padding: 5px 10px;
    width: 200px;
    height: 30px;
    font-weight: 300;
}

.searchIcon{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.413);
    font-size: 25px;
    height: 30px;
    width: 30px;
    padding: 7px;
    cursor: pointer;
}

